.nav-jerez{
    height: 4.7em !important;
    background-color: #9F5F54 !important;
}
.nav-jerez{
    height: 4.7em !important;
    background-color: #9F5F54 !important;
}
ul > li > a{
    font-family: 'Quasimoda';
    color: white !important;
    font-size: 1.1em !important;
}