.jumbotron {
    height: 50rem;
    background-image: url('../../assets/home/backgroud-jumbotrom.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 18rem;
}

.jumbotron2 {
    height: 48rem ;
    background-image: url('../../assets/home/backgroud-jumbotrom-2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 15rem;
}

.btn-jumbotron {
    background-color: transparent !important;
    border: 2px white solid !important;
    height: 3em;
    font-size: 1.8em;
    padding: 0.0em !important;
    font-family: 'FutuHV';
    text-transform: uppercase;
    width: 33%;
}
.btn-jumbotron:hover {
    background-color: #BCB19D !important;
}

.btn-whatsapp {
    width: 20%;
    background-color: #BCB19D;
    border: 5px solid white;
    border-radius: 25px 0 25px 25px;
    position: absolute;
    z-index: 999;
    margin-top: -3.2em;
    font-size: 1.1em;
}
.btn-whatsapp:hover {
    background-color: #787165;
    border: 5px solid white;
}

.btn-tratamentos {
    background-color: transparent !important;
    border: 2px white solid !important;
    height: 3em;
    font-size: 1.8em;
    padding: 0.0em !important;
    font-family: 'FutuHV';
    text-transform: uppercase;
    width: 80%;
}
.btn-tratamentos:hover {
    background-color: #9F5F54 !important;
    color: white;
}

.line-jumbotron {
    border-bottom: 2px solid white;
    width: 85%;
    margin-top: 2.5em;
    cursor: pointer;
}

.img-whatsapp {
    position: absolute;
    z-index: 999;
    margin-top: -8rem;
    cursor: pointer;
}

.titulos-home {
    font-family: ScotchDisplay;
    font-size: 4em;
    color: #B35F54;
}

.btn-home {
    background-color: transparent !important;
    border: 2px solid #B35F54 !important;
    height: 3em;
    font-size: 1.8em;
    padding: 0.0em !important;
    font-family: 'FutuHV';
    text-transform: uppercase;
    width: 55%;
    color: #B35F54;
}
.btn-home:hover {
    background-color: #9F5F54 !important;
    color: white;
}

.titulo-home-chamada {
    font-family: FutuIta;
    color: #B35F54
}

.titulo-pilares {
    font-family: FutuIta;
    color: #B35F54
}

.tratamentos-image-1 {
    background-image: url('../../assets/home/tratamentos-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
}

.tratamentos-image-2 {
    background-image: url('../../assets/home/tratamentos-2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
}

.tratamentos-image-3 {
    background-image: url('../../assets/home/tratamentos-3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
}

.titulo-home-pilares {
    font-family: ScotchDisplay;
    font-size: 4em;
    color: white;
}

.tratamentos {
    background-color: #F9F9F9 !important;
}

.titulo-depoimentos {
    font-family: ScotchDisplay;
    font-size: 4em;
    color: #B35F54
}

.subtitulo-depoimentos {
    font-family: FutuM;
    font-size: 2em;
    color: #B35F54
}

.card-depoimentos {
    border: 1px solid #E8E8E1;
    height: 100%;
}

.jumbotron3 {
    height: 50rem;
    background-image: url('../../assets/home/backgroud-jumbotrom-3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 15rem;
}

.bg-card {
    background-color: #B8B09D !important;
}

.titulo-card-footer {
    font-family: ScotchDisplay;
    font-size: 3em;
    color: white;
}

.input-nome {
    width: 100%;
    position: relative;
    font-size: 16px;
    color: #5b5b5b;
    border: 2px #B8B09D solid;
    padding: 10px 10px 10px 0px;
    box-sizing: content-box;
    z-index: 2;
    border-top: none;
    border-left: none;
    border-right: none;
}

.input-nome:focus {
    border: 2px #B35F54 solid;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}
.btn-footer{
    background-color: #B8B09D;
    color: white;
    border-radius: 5px !important;
    font-size: 1.5em;
    font-family: 'FutuHV';
}
.bg-footer-infos{
    background-color: #B35F54;
}
.titulo-footer {
    font-family: FutuM;
}
.footer-bottom{
    box-shadow: 0px -16px 32px -7px rgba(0,0,0,0.1);
    background-color: #B35F54;
}